In [ ]:
# Exercice 2 : Analyse statistique

In [1]:
pip install numpy

Requirement already satisfied: numpy in c:\users\bintu\appdata\local\programs\python\python313\lib\site-packages (2.2.3)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import numpy as np
from scipy import integrate
import pandas as pd

In [9]:
data = np.random.rand(100)

In [4]:
data

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [11]:
moyenne = np.mean(data)

In [12]:
moyenne

np.float64(0.4642386598966139)

In [13]:
median = np.median(data)

In [14]:
median

np.float64(0.4447524347103813)

In [15]:
# Calculer l'ecart avec NNP
ecart = np.std(data)

In [16]:
ecart

np.float64(0.2726902173919654)

In [ ]:
# Exercice 3 : Manipulation de la date

In [ ]:
# Création des données pour le mois de janvier
month = pd.date_range(start='2023-01', periods=30)

In [18]:
month

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# Exercice 4

In [ ]:
# np.random.seed(42)

In [ ]:

import pandas as pd
import numpy as np

# Dataframe
np.random.seed(42)  # pour la reproductibilité
df = pd.DataFrame(np.random.randint(1, 100, size=(10, 5)), columns=['A', 'B', 'C', 'D', 'E'])


filtered_df = df[df['A'] > 50]

# Aggregation functions
sum_values = df.sum()  # Sum of each column
average_values = df.mean()  # Average of each column


print("Original DataFrame:\n", df)
print("\nFiltered DataFrame (A > 50):\n", filtered_df)
print("\nSum of each column:\n", sum_values)
print("\nAverage of each column:\n", average_values)

Original DataFrame:
     A   B   C   D   E
0  52  93  15  72  61
1  21  83  87  75  75
2  88  24   3  22  53
3   2  88  30  38   2
4  64  60  21  33  76
5  58  22  89  49  91
6  59  42  92  60  80
7  15  62  62  47  62
8  51  55  64   3  51
9   7  21  73  39  18

Filtered DataFrame (A > 50):
     A   B   C   D   E
0  52  93  15  72  61
2  88  24   3  22  53
4  64  60  21  33  76
5  58  22  89  49  91
6  59  42  92  60  80
8  51  55  64   3  51

Sum of each column:
 A    417
B    550
C    536
D    438
E    569
dtype: int64

Average of each column:
 A    41.7
B    55.0
C    53.6
D    43.8
E    56.9
dtype: float64